.background {
  background-image: url("../assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  margin-bottom: 50vh;
}
.counter {
  font-size: 50px;
  font-weight: bold;
}
