.background {
  background-image: url("../assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
}
.counter {
  margin-bottom: 20vh;
  font-size: 50px;
  font-weight: bold;
}

.click {
  margin-top: 40vh;
}
